html {
  box-sizing: border-box;
}

*,
::before,
::after {
  box-sizing: inherit;
}

* {
  color: white;
}

h1 {
  font-family: Lobster, sans-serif;
  font-size: 3em;
  font-weight: 400;
  margin: 30px 0 40px 0;
}

body {
  background: linear-gradient(to bottom, #615dad, #ffc8da);
  min-height: 100vh;
  padding-top: 70px;
}


.game-image {
  height: 230px;
  background-image: url("images/uvodni.jpg");
  background-position: center;
  background-size: cover;
}

.start-screen {
  width: 360px;
  overflow: hidden;
  background-color: #283e50;
  border-radius: 3% 3% 0 0;
  margin: 0 auto;
}


.game-info {
  text-align: center;
  height: 300px;
  padding: 20px;
}

.game-button {
  display: flex;
  flex-direction: column;
  height: 100px;
}

.game-button--rules,
.game-button--start {
  text-align: center;
  flex-grow: 1;
  border: none;
  font-size: 1em;
}


.game-button--rules {
  background-color: #1fcca4;

}

.game-button--border {
  border-bottom: 1px solid rgb(114, 114, 114);
}

.game-button--start {
  background-color: #0197f6;
}

.game-button--rules:hover,
.game-button--rules:focus {
  background-color: #1cbb96;
  cursor: pointer;
}

.game-button--start:hover,
.game-button--start:focus {
  background-color: #0090e9;
  cursor: pointer;
}

a {
  text-decoration-line: none;
}

/* ------------------------------------------------------------------ */

.game-body {
  margin: 0 auto;
  max-width: 80vmin;
}

.game-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;

}

.game-name.game-name--play-area {
  text-align: center;
  margin: 0
}

.player {
  display: flex;
  align-items: center;
}

.player__symbol {
  margin: 10px;
}

.play-button img {
  margin: 3px;
}

.home {
  padding: 5px;
  border-radius: 10%;
}

.play-again {
  padding: 5px;
  border-radius: 10%;
}

.play-area {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(10, 1fr);
  border: 1px solid black;

}


.play-field {
  border: 1px solid rgb(94, 93, 93);
  background-color: rgba(255, 255, 255, 0.4);
  aspect-ratio: 1 / 1;
}

.play-field:hover,
.play-field:focus {
  background-color: rgba(255, 255, 255, 0.6);
}
